:root{
    --line-speed: 2s;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.svg-container{
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    margin-bottom: 2rem;
    width: 100vw;
    height: 100%; /* или конкретная высота, если нужно */
}

.svgName{
    display: flex;
    flex-shrink: 0;
    width: 1092px;
    height: 72.802px;
    box-sizing: border-box;
    stroke: white;
    fill: transparent;
    shape-rendering:geometricPrecision;
    transform-origin: center;
    transform: scale(0.75);
    transition: transform 0.3s ease;
}

.svgName path:nth-child(1){
    stroke-dasharray: 437;
    stroke-dashoffset: 437;
    animation: 
        line-animation var(--line-speed) ease forwards, 
        line-fill 0.3s ease forwards var(--line-speed);
}

.svgName path:nth-child(2){
    stroke-dasharray: 430;
    stroke-dashoffset: 430;
    animation: 
        line-animation var(--line-speed) ease forwards 0.3s, 
        line-fill 0.5s ease forwards calc(var(--line-speed) + 0.3s);
}

.svgName path:nth-child(3){
    stroke-dasharray: 382;
    stroke-dashoffset: 382;
    animation: 
    line-animation var(--line-speed) ease forwards 0.6s, 
    line-fill 0.5s ease forwards calc(var(--line-speed) + 0.6s);
}

.svgName path:nth-child(4){
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    animation: 
        line-animation var(--line-speed) ease forwards 0.9s, 
        line-fill 0.5s ease forwards calc(var(--line-speed) + 0.9s);
}

.svgName path:nth-child(5){
    stroke-dasharray: 347;
    stroke-dashoffset: 347;
    animation: 
        line-animation var(--line-speed) ease forwards 1.2s, 
        line-fill 0.5s ease forwards calc(var(--line-speed) + 1.2s);
}

.svgName path:nth-child(6){
    stroke-dasharray: 437;
    stroke-dashoffset: 437;
    animation: 
        line-animation var(--line-speed) ease forwards 1.5s, 
        line-fill 0.5s ease forwards calc(var(--line-speed) + 1.5s);
}

.svgName path:nth-child(7){
    stroke-dasharray: 363;
    stroke-dashoffset: 363;
    animation: 
        line-animation var(--line-speed) ease forwards 1.8s, 
        line-fill 0.5s ease forwards calc(var(--line-speed) + 1.8s);
}

.svgName path:nth-child(8){
    stroke-dasharray: 347;
    stroke-dashoffset: 347;
    animation: 
        line-animation var(--line-speed) ease forwards 2.1s, 
        line-fill 0.5s ease forwards calc(var(--line-speed) + 2.1s);
}

.svgName path:nth-child(9){
    stroke-dasharray: 203;
    stroke-dashoffset: 203;
    animation: 
        line-animation var(--line-speed) ease forwards 2.4s, 
        line-fill 0.5s ease forwards calc(var(--line-speed) + 2.4s);
}

.svgName path:nth-child(10){
    stroke-dasharray: 261;
    stroke-dashoffset: 261;
    animation: 
        line-animation var(--line-speed) ease forwards 2.7s, 
        line-fill 0.5s ease forwards calc(var(--line-speed) + 2.7s);
}

.svgName path:nth-child(11){
    stroke-dasharray: 352;
    stroke-dashoffset: 352;
    animation: 
        line-animation var(--line-speed) ease forwards 3s, 
        line-fill 0.5s ease forwards calc(var(--line-speed) + 3s);
}

.svgName path:nth-child(12){
    stroke-dasharray: 364;
    stroke-dashoffset: 364;
    animation: 
        line-animation var(--line-speed) ease forwards 3.3s, 
        line-fill 0.5s ease forwards calc(var(--line-speed) + 3.3s);
}

.svgName path:nth-child(13){
    stroke-dasharray: 387;
    stroke-dashoffset: 387;
    animation: 
        line-animation var(--line-speed) ease forwards 3.6s, 
        line-fill 0.5s ease forwards calc(var(--line-speed) + 3.6s);
}

.svgName path:nth-child(14){
    stroke-dasharray: 437;
    stroke-dashoffset: 437;
    animation: 
        line-animation var(--line-speed) ease forwards 3.9s, 
        line-fill 0.5s ease forwards calc(var(--line-speed) + 3.9s);
}

.svgName path:nth-child(15){
    stroke-dasharray: 261;
    stroke-dashoffset: 261;
    animation: 
        line-animation var(--line-speed) ease forwards 4.2s, 
        line-fill 0.5s ease forwards calc(var(--line-speed) + 4.2s);
}

@keyframes line-animation {
    to{
        stroke-dashoffset:0;
    }
}

@keyframes line-fill {
    from{
        fill: transparent;
    }
    to{
        fill: white;
    }
}

@media (max-width: 1200px) {
    .svgName {
        transform: scale(0.65);
    }
}
@media (max-width: 992px) {
    .svgName {
        transform: scale(0.55);
    }
}
@media (max-width: 768px) {
    .svgName {
        transform: scale(0.50);
    }
}
@media (max-width: 576px) {
    .svgName {
        transform: scale(0.40);
    }
}
@media (max-width: 480px) {
    .svgName {
        transform: scale(0.30);
    }
}
