.svgName{
    stroke: white;
    shape-rendering:geometricPrecision;
    transform-origin: center;
    transform: scale(0.75);
    transition: transform 1s ease;
}
.svgName path {
    transition: fill 0.3s ease-in-out;
}

@media (max-width: 1200px) {
    .svgName {transform: scale(0.70);}
}
@media (max-width: 800px) {
    .svgName {transform: scale(0.60);}
}