.page-area{
  position: absolute;
  top: 200px;
  width: 30px;
  height: 30px;
  background: var(--semiTransporent-color);
  border-radius: 0 0.2rem 0.2rem 0; 
  backdrop-filter: blur(20px);
  z-index: 10;
  transition: 0.3s;
  padding: 1rem;
}

.page-area i{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-area:hover i{
display: none;
}

.page-content{
  display: none;
  justify-content: space-between;
  gap: 0.5rem;
}

.page-area:hover {
  width: 40vw;
  height: 100%;
  top: 0;
}

.page-area:hover .page-content{
  display: flex;
}

.main-content{
  display:flex;
  flex-direction: column;
  flex-grow: 1;

  border-radius: 0.3rem;
  width: 28vw;
  padding: 0.4rem 1rem;
  background-color: hsla(0, 9%, 15%, 0.5);
}

.side-content{
  display:flex;
  flex-direction: column;

  border-radius: 0.3rem;
  width: 13vw;
  padding: 0.4rem 1rem;
  background-color: hsla(0, 9%, 15%, 0.5);
}

.data-container{
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  width: 100%;
}

.data-container #text{
  display: flex;
  justify-content: flex-start;
  width: 80%;
}

.data-container #date{
  display: flex;
  justify-content: flex-end;
  width: 20%;
  font-size: 0.8rem;
}

.data-container #list{
  display: flex;
  flex-direction: column;
  width: 100%;
}

#list-column{
  margin-left: 1.3rem;
}

.contact-block p{
  color: hsla(0, 0%, 100%, 0.7);
}

.contact-block #text p{
  margin-top: 0.5rem;
  color: white;
}

.page-content a{
  color: hsl(224, 100%, 67%);
}

.page-content a:hover{
  color: red;
}

.tags{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
}

.tags li{
  position: relative;
  display: flex;
  align-items: center;
  list-style: none;
  width: fit-content;
  background: rgb(255, 154, 71);
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;

}