.menuListLink{
  color: white;
  text-transform: uppercase;
}

.menuListItem:hover{
    border: 2px solid var(--headerItemBorder);
    background-color: var(--headerItemBorder);
    border-radius: 8px;
}

.burgerMenu{
  display: none;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  outline: none;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  padding-right: 1rem;
  margin-right: 0.5rem;
  -webkit-tap-highlight-color: transparent;
  stroke: var(--secondary-color);
}

@media (max-width: 480px){
  .burgerMenu{
    display: flex;
  }
  .menuListItem{
    display: none;
  }
}