:root{
  --footer-color: rgb(13, 13, 13);
  --text-color: rgb(255, 255, 255);
  --link-color: rgb(0, 123, 255);
  --background-color: linear-gradient(to top, hsl(0, 4%, 25%), hsl(0, 6%, 77%));
  --primary-font: 'Arial, Helvetica, sans-serif';
  --secondary-font: 'Georgia', serif;
  --base-font-size: 1rem;
  --primary-color: hsl(0, 18%, 70%);
  --border-color:hsl(31, 32%, 45%);
}

[data-theme="dark"]{
  --background-color: linear-gradient(to top, hsl(0, 4%, 10%), hsl(0, 6%, 17%));
  --border-color: rgb(255, 166, 0);
  --secondary-color: rgb(221, 125, 0);
}

html{
  color: var(--text-color);
}
  
*, 
*::after, 
*::before{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body{
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: inherit;
}

.wrapper{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 100%;
  min-height: 100vh;
  background: var(--background-color);
}

.logo{
  -webkit-tap-highlight-color: transparent;
}

.container-box{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
