@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .backface-visible {
    backface-visibility: visible;
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -ms-backface-visibility: visible;
  }
  .backface-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
  }
  .y-45deg{
    transform: rotateY(45deg);
  }
  .y-90deg{
    transform: rotateY(90deg);
  }
  .y-180deg{
    transform: rotateY(180deg);
  }
  .text-color{
    color: var(--text-color);
  }
  .shadow-container {
    box-shadow: var(--shadow-container);
  }
  .bg-container{
    background-color: var(--bg-container);
  }
  .bg-modal{
    background-color: var(--bg-modal);
  }
  .bg-overlay{
    background-color: var(--bg-overlay);
  }
  .text-shadow{
    text-shadow:var(--text-shadow)
  }
  .btn-d-color{
    background:var(--btn-downloadColor);
    border-bottom: var(--btn-downloadBorder);
    box-shadow: var(--btn-downloadShadows);
  }
  .btn-inactive{
    border: 2px solid var(--btn-inactive);
    color: var(--btn-inactive);
    border-radius: 0.5rem;
    padding: 0 0.3rem;
  }
  .btn-close-active{
    border: 2px solid transparent;
    color: var(--text-secondaryColor);
    border-radius: 0.5rem;
    background: var(--btn-closeActive);
  }
  .btn-submit-active{
    border: 2px solid transparent;
    color: var(--text-secondaryColor);
    border-radius: 0.5rem;
    background: var(--btn-submitActive);
  }
  .btn-cancel-active{
    border: 2px solid transparent;
    color: var(--text-secondaryColor);
    border-radius: 0.5rem;
    background: var(--btn-cancelActive);
  }
  .btn-header-active{
    border: 2px solid transparent;
    color: var(--text-color);
    border-radius: 0.5rem;
    background: var(--bg-overlay);
  }
  .bg-gradient{
    background: var(--background-color);
  }
  .flex-center{
    justify-content: center;
    align-items: center;
  }
  .input-style {
    padding-left: 0.5rem;
    background: transparent;
    border-bottom: 1px solid var(--btn-closeActive);
    border-radius: 0.3rem;
    outline: none;
  }
  .lang-toggle{
    width: 55px;
    height: 30px;
    background: var(--text-secondaryColor);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
  }
  .lang-label input:checked + .lang-toggle {
    transform: translateY(100%);
  }
}

.transform-center {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}
.flex-center-all__breaksLogic{
  @apply flex items-center justify-center
}
.full-size {
  @apply w-full h-full;
}

:root{
  /* main page colors */
  --primary-font: "Roboto", serif;
  --secondary-font: 'Georgia', serif;
  --background-color: #d6dee7;
  --text-color: hsl(211, 31%, 24%);

  /* app page colors */
  --bg-container:#b5c3d4;
  --bg-modal: #b5c3d4;
  --bg-overlay:hsla(214, 39%, 32%, 0.342);
  --shadow-container: 0 5px 8px hsla(214, 39%, 32%, 0.651);
  --text-shadow: 1px 2px 3px hsla(240, 46%, 19%, 0);
  --btn-downloadColor: hsl(133, 39%, 56%);
  --btn-downloadBorder: 4px solid hsl(133, 39%, 43%);
  --btn-downloadShadows: 0 2px 4px hsla(40, 4%, 26%, 0.541);
  --btn-downloadShadowsHover: 0 2px 10px hsla(40, 4%, 21%, 0.541);
  --btn-inactive: hsla(210, 31%, 24%, 0.486);
  --btn-closeActive: hsl(211, 31%, 24%);
  --btn-submitActive: hsl(151, 32%, 35%);
  --btn-cancelActive: hsl(350, 51%, 43%);
  --text-secondaryColor: hsl(0, 0%, 100%);


  /* other page colors */
  --link-color: hsl(47, 78%, 96%);
  --base-font-size: 1rem;
  --footer-color: transparent;
  --main-color:hsla(30, 6%, 63%, 0.301);
  --borderMain-color: hsla(29, 13%, 63%, 0.705);
  --box-shadow: 0 0 4px hsla(240, 12.00%, 4.90%, 0.73);
  --primary-color: hsl(31, 24%, 81%);
  --secondary-color: hsl(28, 8%, 33%);
  --componentCircle-color: hsl(0, 0%, 0%);
  --headerItemBorder:hsl(31deg 8.67% 48.66%);
  --semiTransporent-color:hsla(0, 9%, 15%, 0.5);
  --gold-gradient: linear-gradient(45deg, #d4a53f, #e2c97b, #f1e6b9);
  --darkBlue-gradient: linear-gradient(45deg,hsl(249, 16%, 4%),hsl(253, 10%, 20%));
  --light-gradient: linear-gradient(80deg,hsl(240, 11%, 10%),hsl(252, 8%, 94%));
}

[data-theme="dark"]{
    /* app page colors */
    --bg-container:hsla(194, 9%, 33%);
    --bg-modal:hsla(194, 9%, 33%);
    --bg-overlay:hsla(180, 51%, 55%, 0.342);
    --shadow-container: 0 0 18px hsl(180, 51%, 55%);
    --text-shadow: 2px 2px 5px hsla(240, 10.10%, 11.40%, 0.5);
    --btn-downloadColor: hsl(185, 24%, 43%);
    --btn-downloadBorder: 4px solid hsl(185, 24%, 33%);
    --btn-downloadShadows: 0 3px 4px hsla(180, 51%, 65%, 0.658);
    --btn-downloadShadowsHover: 0 3px 15px hsl(180, 51%, 75%);
    --btn-inactive: hsla(186, 71%, 85%, 0.486);
    --btn-closeActive: hsl(185, 70%, 85%);
    --btn-submitActive: hsl(75, 80%, 60%) ;
    --btn-cancelActive: #F8B43F;
    --text-secondaryColor: #1A2828;
   
  --text-color: hsl(185, 70%, 85%);   
  --background-color: #32373B ;
  --main-color: hsl(240, 11%, 16%);
  --borderMain-color: hsl(240, 11%, 17%);
  --primary-color: hsl(39, 100%, 61%);
  --secondary-color: hsl(34, 70%, 52%);
  --componentCircle-color: hsl(0, 69%, 37%);
  --headerItemBorder:hsl(39, 100%, 61%);
  --semiTransporent-color:hsla(234, 16%, 37%, 0.3);
}

html{
  color: var(--text-color);
}
  
*, 
*::after, 
*::before{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body{
  color: var(--text-color);
  font-family: var(--primary-font);
  background: var(--background-color);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  overflow-x: hidden;
  transition: background 0.6s ease-in-out;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: hsl(219, 90%, 53%);
}

.logo{
  -webkit-tap-highlight-color: transparent;
}

.download-btn{
  transition: all 0.2s ease;
}

.download-btn:hover{
  transform: translateY(-6px);
  box-shadow: var(--btn-downloadShadowsHover);
}

@media (max-width:1150px) {
  .component-container{
    gap: 0;
    flex-direction: column;
  }
}

@media (max-width:550px) {
  .dicePost{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .dicePostText{
    width: 100%;
  }
  .footer-btns{
    flex-direction: column;
    align-items: center;
  }
  .contact-block,
  .about-block{
    margin-bottom: 75px;
  }
  .app-overview{
    width: 100%;
  }
}

@media (max-width:320px) {
  #iconsContainer{
    width: 100%;
  }
}